<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MMDentis Administración </title>
</head>

<body>
    <nav>
        <ul>
            {% if user.is_authenticated %}
              <li>
                <a href="/">Inicio</a>
            </li>
            <li>
                <a href="{% url 'crudpacientes' %}">Pacientes</a>
            </li>
            <li>
                <a href="{% url 'crudempleados' %}">Empleados</a>
            </li>
              <li>
                <a href="{% url 'crudespecialistas' %}">Especialistas</a>
            </li>
            <li>
                <a href="{% url 'logout' %}">Cerrar Sesion</a>
            </li>
            {% else %}
            <li>
                <a href="{% url 'signup' %}">Registrarse</a>
            </li>
             <li>
                <a href="{% url 'login' %}">Iniciar Sesion</a>
            </li>
            {% endif %}
        </ul>
    </nav>

    {% block content %}
    {% endblock %}

</body>

</html>